{#<form action="{{ path(delete_route , { 'id': dt_item }) }}" method="post" style="float:right">
    {{ delete_form_prototype | replace ({'@id':dt_item}) | raw  }}
    <a class="button-delete" href="#" type="submit">Delete</a>
</form>#}
<a class="pull-right" href="{{ path(edit_route, {
    id: dt_item,
    entity: entity,
    bundle: bundle
}) }}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit</a>