<div class="ibox float-e-margins">
    <div class="ibox-title">
        <span class="label label-success pull-right">{{ stat.rate }}</span>
        <h5>{{ stat.title }}</h5>
    </div>
    <div class="ibox-content">
        <h1 class="no-margins">{{ stat.amount }}</h1>
        <span class="font-bold text-success">{{ stat.second_amount }}</span> <small>today</small>
    </div>
</div>