<ul class="nav navbar-top-links navbar-right">
    <li>
        <a href="{{ path(frontend_route) }}">
            <i class="fa fa-home"></i> Frontend
        </a>
    </li>
    <li>
        <a href="{{ path('fos_user_security_logout') }}">
            <i class="fa fa-sign-out"></i> Log out
        </a>
    </li>
</ul>